/* grand styles*/


/*@media (min-width: 1680px) {
    }
    
    @media (min-width: 1280px) and (max-width: 1679px) {
        #parcels_owner_using,
        #parcels_using {
            width: 80%;
        }
        #map {
            width: 60vw;
        }
    }
    */

@font-face {
    font-family: "CHARTERC";
    src: url("../fonts/CHARTERC.otf") format("opentype")
}

@font-face {
    font-family: "CHARTERC-bold";
    src: url("../fonts/CHARTERC-BOLD.otf") format("opentype")
}

@font-face {
    font-family: "proxima-medium";
    src: url("../fonts/PROXIMA-NOVA-A-MEDIUM.otf") format("opentype")
}

@media (min-width: 992px) and (max-width: 1279px) {
    .main_grid {
        display: block !important;
    }
    #map {
        width: 99vw;
    }
}

@media (max-width: 991px) and (min-width: 480px) {
    .main_grid {
        display: block !important;
    }
    #map {
        width: 99vw;
    }
}

@media (max-width: 479px) {
    .main_grid {
        display: block !important;
        width: 99vw;
    }
    #map {
        width: 99vw !important;
    }
}

#main-header {
    font: 50px "CHARTERC-bold";
    text-align: center;
}

#lead {
    font: 16px "CHARTER";
}

.usual_text_block {
    height: 100px;
}

#selectors {
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    grid-template-rows: 1;
    margin-top: 3vh;
    grid-column-gap: 18px;
    justify-content: center;
}

#district_selector {
    width: 10vw;
    height: 3vh;
}

#svitcher {
    width: 10vw;
    height: 3vh;
}

#total-selection {
    width: 10vw;
    height: 3vh;
}

.main_grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(5, 200px);
    margin-top: 3vw;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 6;
}

.box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    align-content: center;
    width: 49vw;
}

#sticky {
    position: relative;
    height: 80vh;
    width: 49vw;
}

.text-explainer {
    pointer-events: none;
}

.war-explainer {
    fill: #000;
    color: #FFFFFF;
    display: inline;
    white-space: pre-wrap;
    padding: 3px 7px;
    padding-left: 0px;
    box-shadow: -7px 0 0 #000;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    height: 200px;
    position: relative;
    font: 16px "proxima-medium";
    align-self: center;
}

.box3 text {
    font: 16px "proxima-medium";
    align-self: center;
}

#ierarchy {
    height: 90vh;
    position: relative;
}

#ierarchy .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.army-main {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.division-main {
    margin-left: 0px;
}

.unit-main {
    margin-left: 50px;
    font: 14px "proxima-medium";
    font-family: "proxima-medium";
}

#map {
    /*width: 50vw; */
    height: 70%;
    position: relative;
    display: block !important;
    align-self: top;
}

#map .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.path_line:hover {
    stroke: red !important;
    stroke-width: 10 !important;
    opacity: 1 !important;
}


/* styles of ierarchy are below */

.node circle {
    fill: #999;
}

.node text {
    font: 10px "proxima-medium";
    font-family: "proxima-medium";
    opacity: 0.5;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.node--internal text:hover {
    font: 14px "proxima-medium";
    font-family: "proxima-medium";
    color: red;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

form {
    font-family: "proxima-medium";
    position: absolute;
    left: 10px;
    top: 10px;
}

label {
    display: block;
}

.total-description {
    font: 16px "proxima-medium";
    align-self: center;
}