/* grand styles*/


/*@media (min-width: 1680px) {
    }
    
    @media (min-width: 1280px) and (max-width: 1679px) {
        #parcels_owner_using,
        #parcels_using {
            width: 80%;
        }
        #map {
            width: 60vw;
        }
    }
    */

body {
    padding-bottom: 20px;
    overflow-x: hidden;
}

@font-face {
    font-family: "CHARTERC";
    src: url("../fonts/CHARTERC.OTF") format("opentype")
}

@font-face {
    font-family: "CHARTERC-bold";
    src: url("../fonts/CHARTERC-BOLD.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-medium";
    src: url("../fonts/PROXIMA-NOVA-A-MEDIUM.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-bold";
    src: url("../fonts/PROXIMA-NOVA-A-BOLD.OTF") format("opentype")
}

@font-face {
    font-family: "proxima-semi";
    src: url("../fonts/PROXIMA-NOVA-A-SEMIBOLD.OTF") format("opentype")
}

@media (max-width: 1279px) and (min-width: 480px) {
    .main_grid {
        display: none !important;
    }
    #map {
        display: none !important;
    }
    #main-header h1 {
        font: 30px "CHARTERC-bold" !important;
    }
    #lead {
        font: 18px "proxima-semi" !important;
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
    }
    .usual_text_block {
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
        font: 14px "proxima-medium" !important;
    }
    #mobile_ierarchy {
        display: block !important;
    }
    #mobile_map {
        display: block !important;
    }
    #mobile-explainer {
        display: block !important;
    }
    .semi-header {
        font: 20px "proxima-bold" !important;
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
    }
    #district-selector-mobile {
        display: block !important;
        width: 80vw !important;
        width: 60vw !important;
    }
    #selectors-mobile {
        display: block !important;
    }
    #main-logo {
        width: 20% !important;
    }
    .donate-us {
        align-items: center !important;
        width: 80% !important;
    }
    body {
        overflow-x: hidden !important;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    #fb {
        width: 3vw !important;
    }
    #tw {
        width: 3vw !important;
    }
    body {
        overflow-x: hidden !important;
    }
}

@media (max-width: 768px) and (min-width: 479px) {
    #fb {
        width: 3vw !important;
    }
    #tw {
        width: 3vw !important;
    }
    body {
        overflow-x: hidden !important;
    }
}

@media (max-width: 479px) {
    .main_grid {
        display: none !important;
    }
    #main-header h1 {
        font: 30px "CHARTERC-bold" !important;
    }
    #lead {
        display: none !important;
    }
    .usual_text_block {
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
        font: 14px "proxima-medium" !important;
    }
    #mobile_ierarchy {
        display: block !important;
    }
    #mobile_map {
        display: block !important;
    }
    #lead_mobile {
        display: block !important;
        font: 18px "proxima-semi" !important;
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
    }
    #mobile-explainer {
        display: block !important;
    }
    .semi-header {
        font: 20px "proxima-bold" !important;
        margin-left: 12.5vw !important;
        margin-right: 12.5vw !important;
    }
    #district-selector-mobile {
        display: block !important;
        width: 80vw !important;
    }
    #selectors-mobile {
        display: block !important;
    }
    #main-logo {
        width: 50% !important;
    }
    #fb {
        width: 10vw !important;
    }
    #tw {
        width: 10vw !important;
    }
    .donate-us p {
        align-items: center !important;
        margin-left: 5vw !important;
    }
    body {
        overflow-x: hidden !important;
    }
}

article {
    margin-top: 5vh;
}

#main-logo {
    position: absolute;
    margin-left: 3vw;
    margin-top: 3vh;
    width: 15vw;
}

#socio-icons {
    margin-left: 3vw;
    margin-top: 7vh;
}

#tw {
    font-family: 'Roboto Mono', monospace;
    width: 3vw;
    margin-left: 0.5vw;
}

#fb {
    font-family: 'Roboto Mono', monospace;
    width: 3vw;
}

.icon-wrapper {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.header-wrapper {
    font-family: 'Roboto Mono', monospace;
    width: 90%;
    margin: 10px auto 50px auto;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
}

#main-header {
    height: 100vh;
    width: calc(100% + 2em);
    margin-left: -1em;
    display: flex;
    background-image: url('https://texty.github.io/project_russian_war_structure/pic/cover.png');
    background-size: cover;
    overflow-x: hidden;
}

#socio-icons {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: absolute;
}

.title-wrapper {
    max-width: 80%;
    margin: auto !important;
}

h1.title {
    color: white;
    font-size: calc(30px + 1.5vw);
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1em !important;
}

.title-wrapper h3 {
    color: white;
    text-transform: none;
    text-align: center;
    font-size: calc(18px + 0.7vw);
}

#autors {
    margin-left: 3vw;
}

a:link {
    color: red;
}

.red-d {
    color: red;
}

.semi-header {
    color: #000;
    font: 28px "proxima-bold";
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 3vh;
    margin-top: 5vh;
}

.usual_text_block {
    display: block;
    height: fit-content;
    margin-left: 25vw;
    margin-right: 25vw;
    font: 24px "proxima-medium";
    color: #555;
}

#selectors {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#district_selector {
    width: 80%;
    height: 3vh;
    font: 12px "proxima-medium";
}

#district_selector option {
    font: 12px "proxima-medium";
}

#svitcher {
    width: 10vw;
    height: 3vh;
}

#total-selection {
    width: 10vw;
    height: 3vh;
}

.main_grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: repeat(10, 200px);
    margin-top: 3vw;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 6;
}

.box2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    align-content: center;
    width: 49vw;
}

#sticky {
    position: relative;
    height: 80vh;
    width: 49vw;
}

.map-explainer {
    font: 14px "proxima-bold";
}

.text-explainer {
    pointer-events: none;
}

.war-explainer {
    fill: #000;
    color: #FFFFFF;
    display: inline;
    white-space: pre-wrap;
    padding: 3px 7px;
    padding-left: 0px;
    box-shadow: -7px 0 0 #000;
}

.box3 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    height: 200px;
    position: relative;
    font: 16px "proxima-medium";
    align-self: center;
}

.box3 text {
    font: 16px "proxima-medium";
    align-self: center;
}

#ierarchy {
    height: 90vh;
    position: relative;
}

#ierarchy .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.army-main {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.division-main {
    margin-left: 0px;
}

.unit-main {
    margin-left: 50px;
    font: 14px "proxima-medium";
    font-family: "proxima-medium";
}

#map {
    /*width: 50vw; */
    height: 70%;
    position: relative;
    display: block !important;
    align-self: top;
}

#map .tooltip {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.path_line:hover {
    stroke: red !important;
    stroke-width: 10 !important;
    opacity: 1 !important;
}


/* styles of ierarchy are below */

.node circle {
    fill: #999;
}

.node text {
    font: 10px "proxima-medium";
    font-family: "proxima-medium";
    opacity: 0.5;
}

.node--internal circle {
    fill: #555;
    pointer-events: none;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
    pointer-events: none;
}

.node--internal text:hover {
    font: 14px "proxima-medium";
    font-family: "proxima-medium";
    color: red;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

form {
    font-family: "proxima-medium";
    position: absolute;
    left: 10px;
    top: 10px;
}

label {
    display: block;
}

.total-description {
    margin-top: 3vh;
}

.total-description-header {
    letter-spacing: 0.7pt;
    font: 14px "proxima-bold";
    margin-bottom: 0 !important;
    margin-top: 1vh !important;
}

.total-description-text {
    font: 14px "proxima-bold";
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    color: black;
}

path {
    pointer-events: none;
}

.war-explainer-text {
    pointer-events: none;
}

.war-explainer-rect {
    pointer-events: none;
}

.text-rect {
    pointer-events: none;
}

.text-explainer {
    pointer-events: none;
}

#mobile_ierarchy {
    display: none;
    margin-top: 3vh;
}

#mobile_map {
    display: none;
    margin-top: 3vh;
}

#mobile-explainer {
    display: none;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    font: 12px "proxima-medium";
    color: red;
    margin-top: 3vh;
}

#district-selector-mobile {
    display: none;
    width: 80%;
    height: 3vh;
    font: 12px "proxima-medium";
    align-self: center;
    margin-left: 12.5vw;
}

#selectors-mobile {
    display: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-self: center;
}

#created_texty {
    font-family: 'Noto Sans', sans-serif;
    color: #33302e;
    line-height: 1.6;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 4em 15% 4em 15%;
}

.share-btn {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.6;
}

.fa-facebook {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
    stroke: white;
}

.fa-twitter {
    letter-spacing: 1px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Brands";
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #616161;
    color: #a6a6a6;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 2.0em;
    line-height: 1;
    transition: all 0.5s;
}

#end-logo {
    width: 30vw;
}

.donate-us {
    font-family: sans-serif;
    margin: 80px auto 30px auto;
    max-width: 800px;
}

.donate-button {
    font-family: sans-serif;
    border-bottom: 0;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    margin: auto;
    min-height: 50px;
    padding: 10px;
    color: white;
    background-color: #ed6746;
    display: flex;
}

.donate-p {
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto !important;
    font-weight: 600;
}